<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest Clone</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="/dist/output.css">
    <link rel="stylesheet" href="/stylesheets/anim.css">

    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
            appearance: textfield;
        }
    </style>
</head>

<body>

    <marquee behavior="scroll" scrollmount="3" direction="up">
        <span class="strip">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">

            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
        </span>
    </marquee>

    <marquee behavior="scroll" scrollmount="3" direction="down">
        <span class="strip">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">

            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
        </span>
    </marquee>

    <marquee behavior="scroll" scrollmount="3" direction="up">
        <span class="strip">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">

            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
        </span>
    </marquee>

    <marquee behavior="scroll" scrollmount="3" direction="down">
        <span class="strip">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">

            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
        </span>
    </marquee>

    <marquee behavior="scroll" scrollmount="3" direction="up">
        <span class="strip">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">

            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
            <img loading="lazy" src="" alt="image">
        </span>
    </marquee>